footer{
    /* height: fit-content; */
    width: 100vw;
    position: relative;
}


footer .background .chorten{
    height: 80%;
    width: auto;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -10;
    
}

footer .background .bird{
    height: 200px;
    width: auto;
    position: absolute;
    right : 10%;
    top:10%;
    z-index: -10;
}
.overlay{
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -5;
    left: 0;
    width: 100%;
    background-color: #122B16;
    opacity: 0.8;
    
}
.footerContent{
padding: clamp(20px, 5vw, 120px);

}
.footerContent .topContent{
    display: flex;
    /* justify-content: space-between; */
    z-index: 10;
}

.brandWrapper .logoWrapper img{
    width: 320px;
    height: auto;
    margin-bottom: 2rem;
}
.contactInfo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;
}

.brandWrapper > p{
    color:#E9E5C5;
    min-width: 350px;
    width: 50%;
}
.contactInfo > *{
    border-radius: 100px;
    height: 40px;
    width: fit-content;
    display : flex;
    justify-content: center;
    align-items: center;
    padding: 0 1.5rem;
    color:#E9E5C5;
    border: 1px solid #E9E5C5;
}

.linkWrapper{
    display: flex;
    /* height: 100%; */
    gap: 5vw;
    /* position: relative; */
    /* top: 2rem; */
    justify-content: center;
    align-items: center;
}

.linkWrapper .link{
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
}

.linkWrapper .link h1{
    font-size: clamp(16px, 2vw, 20px);
    color: #9CB8A0;
    margin-bottom: 0.5rem
}
.linkWrapper .link a{
    text-decoration: none;
    color: white;
    transition: 0.3s all ease-in-out;
}
.linkWrapper .link a:hover{
    color: #d6ffdd;
}

.bottomContent{
    color: #E9E5C5;
    padding: 2rem 0 1rem 0;
    font-size: clamp(14px, 2vw, 16px);
}


@media (max-width: 480px) {
  /* styles for small phones */
  
}


/* ===========================
   📲 Mobile Devices (Landscape) 
   481px – 767px width
   =========================== */
@media (min-width: 481px) and (max-width: 767px) {
  /* styles for large phones / small devices */
 
}


/* ===========================
   💻 Tablets (Portrait & Landscape)
   768px – 1024px width
   =========================== */
@media  (max-width: 1025px) {
  /* styles for tablets */
  .contactInfo{
    flex-wrap: wrap;
justify-content: center;
  }
 .footerContent .topContent{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

 }
  .footerContent .topContent > *{
    width: 100% !important;
  }
  .footerContent .logoWrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .brandWrapper > p{
    width: 100%;
    text-align: center;
  }
  .contactInfo{
    justify-content: center;
  }
  .bottomContent{
    text-align: center;
    margin-top: 1rem;
  }
  .linkWrapper{
    flex-direction: column;
    gap: 4rem !important;
  }
  .link{
    text-align: center;
  }
}