<footer>
    <div class="footerContent">
        <div class="topContent">

            <div class="brandWrapper">
                <div class="logoWrapper">
                    <img src="../img/logo.png" alt="">
                </div>
                <p>Authentic Bhutanese journeys crafted by locals. Explore culture, nature, and tradition with care and purpose.</p>
                <div class="contactInfo">
                    <div class="number">
                        <p>+975 - 17273647</p>
                    </div>
                    <div class="email">
                        <p>chodenjigme@gmail.com</p>
                    </div>
                </div>
            </div>
            <div class="linkWrapper">
                <div class="link">
                    <h1>Agency</h1>
                    <a href="">About Us</a>
                    <a href="">Tour Packages</a>
                    <a href="">Contact</a>
                </div>
                <div class="link">
                    <h1>Explore</h1>
                    <a href="">Druk Air</a>
                    <a href="">Tashi Airlines</a>
                    <a href="">Bhutan Tourism</a>
                </div>
                <div class="link">
                    <h1>Follow</h1>
                    <a href="">Facebook</a>
                    <a href="">Instagram</a>
                    <a href="">Linkedin</a>
                </div>
            </div>
        </div>
        <div class="bottomContent">
            <p>© 2025 Kuzuzangpola Adventure Travels. All rights reserved.</p>
        </div>

    </div>
    
    <div class="background">
            <img class = "chorten" src="../img/home/chorten.png" alt="">
            <img class = "bird" src="../img/home/bird.png" alt="">
            <div class="overlay"></div>
    </div>
</footer>


